.Colors {
  grid-area: colors;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
}

@media (max-width: 700px) {
  .Colors {
    margin: 0 auto;
    padding: 1rem;
    width: 320px;
  }
}

.ColorSquareWrapper {
  display: grid;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

.ColorSquare {
  height: 70px;
  cursor: pointer;
  width: 70px;
  position: relative;
}

.ColorSquareSelected:after {
  font: normal normal normal 20px/1 FontAwesome;
  content: "\f00c";
  color: white;
  -webkit-text-stroke: 2px black;
  position: absolute;
  right: 75%;
  top: 70%;
}
