.Moods {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
}

.MoodWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.MoodWrapperSelected:after {
  font: normal normal normal 20px/1 FontAwesome;
  content: "\f00c";
  color: white;
  -webkit-text-stroke: 2px black;
  position: absolute;
  right: 75%;
  top: 70%;
}

.Mood {
  cursor: pointer;
}
